# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
global-coverage-infos.json
pytest_report.json
failed_tests_report.json
failed_tests_comment_*.txt
failed_tests_slack_list_*.txt

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# GitBook
docs/references/api/.pages

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# VScode
.vscode

# macOS
.DS_Store

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Experiments directory
playground/
.playground/

# File generated by benchmarks
progress.json

# Use case examples data
use_case_examples/*/local_datasets/
use_case_examples/titanic/titanic_submission_fhe.csv
use_case_examples/titanic/titanic_submission_xgb_clear.csv
use_case_examples/cifar_deployment/dev/
use_case_examples/deployment/dev/
use_case_examples/llm/gpt2*
use_case_examples/cifar_brevitas_training/.datasets/

# Key cache
ConcretePythonKeyCache

# This index file is autogenerated
docs/index.rst

# Debug artifacts
.artifacts 
execution_time_of_individual_pytest_files.txt

# Hybrid model artifacts
use_case_examples/hybrid_model/clients/
use_case_examples/hybrid_model/compiled_models/
use_case_examples/hybrid_model/keys/
use_case_examples/hybrid_model/user_keys/

# Federated learning trained model
use_case_examples/federated_learning/model.pkl
